.DownloadManager {
    text-align: center;
    position: absolute;
    left: 37%;
    top: 70%;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
}


@font-face {
    font-family: 'Press Start 2p';
    src: url('../../assets/PressStart2P-Regular.ttf');
}

.start-btn {
    font-family: 'Secular One', sans-serif;
    font-size:170%; 
    text-align: center;
    display: inline-block;
    margin: 5px;
    font-weight: bold;
    padding: 10px;
    background-image: url(../../assets/launcher-boton1.png);
    background-size: 100%;
    cursor: pointer;
    color: rgb(213, 240, 255);  
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    display: block;
    margin: auto;
    width: 160px;
}
.video-game-button:active,
.start-btn:active {
    font-family: 'Nunito', sans-serif;
    font-size:1.7rem; 
    text-align: center;
    display: inline-block;
    margin: 5px;
    font-weight: bold;
    padding: 10px;
    background-image: url(../../assets/launcher-boton2.png);
    background-size: 100%;
    cursor: pointer;
    color: rgb(213, 240, 255);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;

    position: absolute;
    display: block;
    margin: auto;
    width: 160px;
}
.bottom-info {
    position: absolute;
    bottom: 0px;
    display: inline-block;
}