.game-title {
    font-family: 'Press Start 2p';
}

.App {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.Draggable-Frame-Area {
    /* border: 5px solid red; */
    -webkit-app-region: drag;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 10%;
    display: block;
    margin: auto;
}

.Bitmon-background {
    opacity: 100%;
    height: 70%;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
}

.Launcher-image {
    position: absolute;
    left: 0;
    top: -25%;
    right: 0;
    bottom: 0;
    height: 50%;
    width: 80%;
    display: block;
    margin: auto;
}

.Bitmon-logo {
    position: absolute;
    left: 8%;
    top: 22%;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
    height: auto;
}

.progress-bar{
    position: absolute;
    left: -55%;
    top: -40%;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
    height: auto;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-size: 0 0;
}
.percentage{
    border-radius: 25px;
    position: absolute;
    left: -55%;
    top: 40%; /*41*/
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
    border: none;
    background-repeat: no-repeat;
    background-size: 0 0;
}
#bar-container1 {
    width: 400px;
    height: 23px;
    background-color: #475a6b;
    border-radius: 25px;
    position: absolute;
    left: -55%;
    top: -49%; /*41*/
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
    border: none;
    background-repeat: no-repeat;
    background-size: 0 0;
}
#bar-container2 {
    width: 410px;
    height: 31px;
    border-style: solid;
    border-width: 1px; 
    background-color: #96a1ab;
    border-radius: 25px;
    position: absolute;
    left: -55%;
    top: -50%; /*42*/
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
    background-repeat: no-repeat;
    background-size: 0 0;
    background-image: url(./assets/launcher-carga1.png);
}
#container-invisible{
    width: 380px;
    height: 13px;
    border-radius: 25px;
    position: absolute;
    left: -55%;
    top: -52%;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
    border: none;
    background-repeat: no-repeat;
    background-size: 0 0;
    background-color: transparent;
}
#bar {
    width: 50%;
    height: 100%;
    background-color: #94d7ff;
    transition: width 0.2s;
    border-radius: 25px;
    margin-top: 2.5px;
}

.min-btn{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 3%;
    left: 85%;
    display: block;
    margin: auto;
    background-image: url(./assets/launcher-minimizar.png);
    background-repeat: no-repeat;
    width: 39px;
    height: 39px;
}

.x-btn{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 3%;
    left: 90%;
    display: block;
    margin: auto;
    background-image: url(./assets/launcher-cerrar.png);
    background-repeat: no-repeat;
    width: 39px;
    height: 39px;
}
