.game-title {
    font-family: 'Press Start 2p';
}

.App {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.Draggable-Frame-Area {
    /* border: 5px solid red; */
    -webkit-app-region: drag;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 10%;
    display: block;
    margin: auto;
}

.Bitmon-background {
    opacity: 100%;
    height: 70%;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
}

.Launcher-image {
    position: absolute;
    left: 0;
    top: -25%;
    right: 0;
    bottom: 0;
    height: 50%;
    width: 80%;
    display: block;
    margin: auto;
}

.Bitmon-logo {
    position: absolute;
    left: 8%;
    top: 22%;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
    height: auto;
}

.min-btn{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 3%;
    left: 85%;
    display: block;
    margin: auto;
    background-image: url(./assets/launcher-minimizar.png);
    background-repeat: no-repeat;
    width: 39px;
    height: 39px;
}

.x-btn{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 3%;
    left: 90%;
    display: block;
    margin: auto;
    background-image: url(./assets/launcher-cerrar.png);
    background-repeat: no-repeat;
    width: 39px;
    height: 39px;
}
